/*grey: #707a8a
light-gray: #bcc0c7
dark-grey: #5c5b5b
background color: #f5f5f5*/


body {
    margin: 0;
    padding: 0;
    background-color: #f5f5ef;    
}
/* Nav-bar */
nav {
    background-color: #707a8a;
    margin: 0;
    overflow: hidden;
}
nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    display: inline-block;
    list-style-type: none;
}
nav ul li a {
    font-family: "Roboto-Condensed", sans-serif;
    font-size: .65em;
    color:#f5f5f5;
    background-color: #707a8ad;
    display: block;
    line-height: 3em;
    padding: 1em 1.5em;
    padding-right: 3em;
    text-decoration: none;
}
nav ul li:first-child {
    margin-right: auto;
}
.nav-logo {
    width: 80%;
    height: 50px;
    padding: 10px;
    padding-left: 30px;
}
/* Nav-bar ends */

/* Footer */
.foot-contain {
    background-color: #707a8a;
    text-align: center;
      /*display: flex; When flex is applied I can't center the ul */
    
}
.my-list {
    list-style-type: none;
}
.list-items {
    display: inline-block;
    padding: 15px;
}
.social-logo{
    width: 25px;
}
.foot-logo {
    width: 45px;
    float: left;
    padding-left: 35px;
    padding-top: 25px;
}
.follow-us {
    text-align: center;
    font-family: sans-serif;
    font-size: .65em; 
    padding-top: 25px;
    color: #f5f5f5;
}
/* Footer ends */

/* Image with text */
.logo-mr-c {
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.image-wrapper {
    width: 100%;
    position: relative;
    
}
.image-wrapper img {
  width: 85%; 
  margin: 10px 100px; 
}
.text {
    color: white;
    position: absolute;
    top: 10%;
    left: 30%;
    font-family: sans-serif;
    text-shadow:2px 2px 8px black;
}
/* Image with text ends */

/* Three things */
.three-things {
    font-family: sans-serif;
    color: #5c5b5b;
    text-align: center;
    font-size: x-large;
    font-weight: 900;
    margin-top: 60px;
    margin-bottom: 60px;
}
.box-container {
    display: flex;
    /*align-content: center;*/
    margin-left: 110px;
}
.left {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 25%;
    margin: 20px;
    background-color: #bcc0c7;
}
.center {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 25%;
    margin: 20px;
    background-color: #bcc0c7;
}
.right {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 25%;
    
    margin: 20px;
    background-color: #bcc0c7;
}
.icon-cafe {
    width: 100px;
}
.icon-hands {
    width: 100px;
}
.icon-book {
    width: 100px;
}
.card-text-heading {
    color: white;
    text-align: center;
    font-family: sans-serif;
}
.card-text {
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: .65em;
}
    
